<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)">
  <div>
    用户名:<input type="text" #username="ngModel" ngModel name="username">
  </div>
  <div>手机号: <input type="text" ngModel name="phone"></div>
  <div>邮政编码: <input type="number" ngModel name="number"></div>
  <div ngModelGroup="passwordGroup">
    <div>密码: <input type="password" ngModel name="password"></div>
    <div>确认密码: <input type="password" ngModel name="pconfirm"></div>
  </div>
  <button type="submit"> 注册 </button>
</form>
<div>
  {{ myForm.value | json }}
</div>

