<!-- 1. 双向数据绑定 -->
<!-- <input type="text" [(ngModel)]="username">
{{username}} -->

<!-- 2. 验证必填项 -->
<!-- <input type="text" required [(ngModel)]="username" #userName="ngModel">
<span *ngIf="!userName.valid">必填项</span> -->

<!-- 3. 验证长度 -->
<!-- <input type="text" required minlength="3" [(ngModel)]="username" #userName="ngModel">
<div *ngIf="userName.errors?.required">请您输入用户名</div>
<div *ngIf="userName.errors?.minlength">
  用户名的长度必须大于 {{userName.errors?.minlength.requiredLength}}，当前的长度为
  {{userName.errors?.minlength.actualLength}}
</div> -->
<!-- 4. 提交表单数据;如果多个表单需要提交怎么办？loginForm.value 可以将各个表单的 value 值都获取到 -->
<!-- <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
  <input type="text" required minlength="3" name="username" [(ngModel)]="username" #userName="ngModel">
  <div *ngIf="userName.errors?.required">请您输入用户名</div>
  <div *ngIf="userName.errors?.minlength">
    用户名的长度必须大于 {{userName.errors?.minlength.requiredLength}}，当前的长度为
    {{userName.errors?.minlength.actualLength}}
  </div>
  <input type="password" ngModel name="password">
  <button type="submit">提交</button>
</form> -->
<!-- 5. 表单组 -->
<!-- <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
  <fieldset ngModelGroup="user">
    <input type="text" required minlength="3" name="username" [(ngModel)]="username" #userName="ngModel">
    <hr>
    <div *ngIf="userName.errors?.required">请您输入用户名</div>
    <div *ngIf="userName.errors?.minlength">
      用户名的长度必须大于 {{userName.errors?.minlength.requiredLength}}，当前的长度为
      {{userName.errors?.minlength.actualLength}}
    </div>
    <input type="password" ngModel name="password">
  </fieldset>
  <button type="submit">提交</button>
  <hr> 
  </form>-->
<!-- <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
  <fieldset ngModelGroup="user">
    <input type="text" required minlength="3" name="username" [(ngModel)]="username" #userName="ngModel">
    <hr>
    <div *ngIf="userName.errors?.required">请您输入用户名</div>
    <div *ngIf="userName.errors?.minlength">
      用户名的长度必须大于 {{userName.errors?.minlength.requiredLength}}，当前的长度为
      {{userName.errors?.minlength.actualLength}}
    </div>
    <input type="password" required ngModel name="password">
  </fieldset>
  <button type="submit">提交</button>
</form> -->
<!-- <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)">
  <fieldset ngModelGroup="user">
    <input type="text" required minlength="3" name="username" [(ngModel)]="username" #userName="ngModel">
    <hr>
    <p>Name控件的valid状态：{{userName.valid}} - 表示控件有效</p>
    <p>Name控件的invalid状态：{{userName.invalid}} - 表示控件无效</p>
    <p>Name控件的pristine状态：{{userName.pristine}} - 表示控件值未改变</p>
    <p>Name控件的dirty状态：{{userName.dirty}} - 表示控件值已改变</p>
    <p>Name控件的touched状态：{{userName.touched}} - 表示控件已被访问过</p>
    <p>Name控件的untouched状态：{{userName.untouched}} - 表示控件未被访问过</p>
    <div *ngIf="userName.errors?.required">请您输入用户名</div>
    <div *ngIf="userName.errors?.minlength">
      用户名的长度必须大于 {{userName.errors?.minlength.requiredLength}}，当前的长度为
      {{userName.errors?.minlength.actualLength}}
    </div>
    <input type="password" required ngModel name="password">
  </fieldset>
  <button type="submit">提交</button>
</form> -->
<!-- <form #loginForm="ngForm">
  Angular版本：
  <div *ngFor="let version of versions;">
    <input [id]="version" name="version" ngModel required [value]="version" type="radio">
    <label [for]="version">{{version}}</label>
  </div>
</form> -->
<!-- <form #loginForm="ngForm">
  Angular版本：
  <select name="version" [ngModel]="versions[0]">
    <option *ngFor="let version of versions;" [value]="version">
      {{version}}
    </option>
  </select>
</form> -->
<form #loginForm="ngForm">
  Angular版本：
  <div>
    <select name="version" [ngModel]="version" required>
      <option *ngFor="let version of versions;" [value]="version">
        {{version}}
      </option>
    </select>
    <label></label>
  </div>
</form>
