<!-- 引入图片时的路径 -->
<h3>本地图片引入</h3>
<img src="assets/imgs/collect01.png" alt="收藏" />
<img src="../../../assets/imgs/collect02.png" alt="收藏" />
<br>
<!-- *ngIf -->
<!-- *ngFor -->
<h3>ngSwitch</h3>
<span [ngSwitch]="order">
    <p *ngSwitchCase="1">
      表示订单已发货
    </p>
    <p *ngSwitchCase="2">
      表示订单已签收
    </p>
    <p *ngSwitchDefault>
      表示订单已付款
    </p>
</span>
<h2>ngClass</h2>
<div [ngClass]="{'red': flag}">我是ngClass属性红色</div>
<div [ngClass]="{'red': flag,'orange':!flag}">我是ngClass属性橙色</div>
<h4>ngClass和*ngFor演示</h4>
<!-- 循环一个数组，让数组的第一个元素的样式为red -->
<span *ngFor="let item of list;let key=index" [ngClass]="{'red': key==0,'orange': key==1}">
    {{item}}
</span>
<h2>ngStyle</h2>
<p [ngStyle]="{'color': 'green','font-size':'20px'}">我是一个p标签</p>
<p [ngStyle]="{'color': attr}">我是一个p标签</p>
<h2>管道：{{today|date:"yyyy-MM-dd hh:mm:ss"}}</h2>
