<!-- <p>
  <a routerLink="/home/news/news-detail/1"> 111 </a>
</p>
<p>
  <a [routerLink]="['/home/news/news-detail/2']"> 222 </a>
</p>
<p>
  <a [routerLink]="['/home/news/news-detail',3]"> 333 </a>
</p> -->
<!-- <p>
  <a [routerLink]="['/home/news/news-detail']" [queryParams]="{id: 4}"> 444 </a>
</p> -->
<!-- <p>
  <a [routerLink]="['/home/news/news-detail']" [queryParams]="{id: 4,title:'新闻详情'}"> 444 - 新闻详情</a>
</p> -->

<!-- <p>
  <a [routerLink]="['/home/news/news-detail']"> 我是详情页 </a>
</p> -->
<button (click)="goToDetail()" nz-button nzType="primary">跳转到详情页</button>