<div class="people-form">
  <h2>人员登记系统</h2>
  <div class="people-context">
    <ul>
      <li>
          姓名 <input type="text" [(ngModel)]="peopleInfo.username">
      </li>
      <li>
          性别
          <!-- form组件设置id属性，label 使用 for 属性，属性值一样便关联上了 -->
          <input type="radio" value="1" name="gender" id="man" [(ngModel)]="peopleInfo.gender" ><label for="man">男</label>
          <input type="radio" value="2" name="gender" id="female" [(ngModel)]="peopleInfo.gender" ><label for="female">女</label>
      </li>
      <li>
          居住城市
          <select name="city" id="city" [(ngModel)]="peopleInfo.city">
            <option [value]="item" *ngFor="let item of peopleInfo.cities">{{item}}</option>
          </select>
      </li>
      <li>
          爱好
          <span *ngFor="let item of peopleInfo.hobby;let key=index">
              <input type="checkbox" [id]="'check'+key" [(ngModel)]="item.checked"> <label [for]="'check'+key">{{ item.title }}</label>
          </span>
      </li>
      <li>
        备注
        <textarea name="mark" id="mark" cols="30" rows="10" [(ngModel)]="peopleInfo.mark"></textarea>
      </li>
    </ul>
    <pre>
      <!-- {{ peopleInfo | json}} -->
    </pre>
  </div>
</div>


